<%- include('partials/header') %>

<body>
    <form method="POST" action="/">
        <section>
        <label for="todoContent">What is your next todo?</label>
        <br />
        <textarea id="todoContent" name="content" placeholder="Write your todo here" ></textarea>
       </section>
     <button>Create</button>
    </form>
    
</body>
</html>