<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Details</title>
</head>
<body>
    <h1>Todo details:</h1>
    <p><%= todoToShow.content %></p>
    <a href="/">Back to all todos</a>
</body>
</html>