<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit todo</title>
</head>
<body>
    <h1>Edit me: </h1>
    <form method="POST" action="/<%=todoToEdit.id%>?_method=PATCH">
        <textarea name="content" id="" cols="30" rows="10"><%= todoToEdit.content %></textarea>
        <button>Save</button>
    </form>
</body>
</html>