<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to your todo list!</h1>
    <ul>
        <% if (todos.length !== 0) {   %>
            <% for (todo of todos) { %>
                <li style="display: flex; gap: 8px;"><%= todo.content %> / <a href="/<%= todo.id %>/edit">Edit todo</a> /  <form method="POST" action="/<%= todo.id %>?_method=DELETE"><button>Delete todo</button></form></li>
            <% }%>
        <% }  %>
    </ul>

    <a href="/new">Add new todo</a>
</body>
</html>